// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

#include "imx93-11x11-evk.dts"

/ {
/*
	lvds_backlight: lvds_backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lvds>;
		//pwms = <&adp5585pwm 0 100000 0>;
		enable-gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
		power-supply = <&reg_vdd_12v>;
		status = "okay";

		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
		default-brightness-level = <80>;
	};
*/

	debix-pwm {
		compatible = "debix,debix-pwm";    /* compatible属性 */
                pinctrl-0 = <&pinctrl_debix_pwm>;
		//power-gpios = <&gpio2 12 0>;           /* pwm en gpio */
		pwm-gpios = <&gpio2 19 0>;           /* pwm输出gpio */
		npwm = <1>;                     /* pwm通道个数 */
		status = "disabled";
	};
};

/*
&adv7535 {
	status = "disabled";
};
*/

&dphy {
	status = "okay";
};

&dsi {
	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";
        panel@0 {
                compatible = "debix,HC080IY28026-D60";
                reg = <0>;
                //backlight = <&mipi_backlight>;
                pinctrl-0 = <&pinctrl_mipi_dsi_en>;
                reset-gpio = <&gpio2 20 GPIO_ACTIVE_HIGH>;
                dsi-lanes = <4>;
                video-mode = <2>;       /* 0: burst mode
                                         * 1: non-burst mode with sync event
                                         * 2: non-burst mode with sync pulse
                                         */
                panel-width-mm = <107>;
                panel-height-mm = <172>;
                status = "okay";
		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};

	ports {
		port@1 {
			reg = <1>;

			dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};

        };

};

&lcdif {
	assigned-clock-rates = <300000000>, <75000000>, <400000000>, <133333333>;
};

&ldb {
	status = "disabled";

};

&ldb_phy {
	status = "disabled";
};

&lpi2c1 {
        touchscreen@5d {
                compatible = "goodix,gt911";
                reg = <0x5d>;
                //reg = <0x14>;

                pinctrl-0 = <&pinctrl_mipiTP>;
                interrupt-parent = <&gpio2>;
                interrupts = <11 IRQ_TYPE_EDGE_RISING>;
                irq-gpios = <&gpio2 11 GPIO_ACTIVE_HIGH>;        /* CTP-INT: PH4 */
                reset-gpios = <&gpio2 21 GPIO_ACTIVE_HIGH>;     /* CTP-RST: PH11 */
                //touchscreen-inverted-x;
                //touchscreen-inverted-y;
                //edge-failling-trigger;
                touchscreen-size-x = <800>;
                touchscreen-size-y = <1280>;

                status = "okay";
        };

};


&iomuxc {
	pinctrl_mipiTP: mipiTPgrp {
                fsl,pins = <
			/*int*/
			MX93_PAD_GPIO_IO11__GPIO2_IO11 0x139e
			/* rst */
			MX93_PAD_GPIO_IO21__GPIO2_IO21 0x139e
                >;
        };

        pinctrl_mipi_dsi_en: mipidsiengrp {
                fsl,pins = <
			MX93_PAD_GPIO_IO20__GPIO2_IO20 0x139e
                >;
        };
        pinctrl_debix_pwm: debixpwmgrp {
                fsl,pins = <
			MX93_PAD_GPIO_IO19__GPIO2_IO19	0x139e
			//MX93_PAD_GPIO_IO13__GPIO2_IO13	0x139e
                >;
        };
};
